/******************************************************
 * CSS overrides
*******************************************************/

@font-face {
    font-family: UniversLTRegular;
    src: local("Univers LT Pro 55 Roman"),
		url(/public/assets/fonts/UniversLTPro55Roman.ttf)
			format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: UniversLTBold;
    src: local("Univers LT Pro 65 Bold"),
		url(/public/assets/fonts/UniversLTPro65Bold.ttf)
			format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: UniversLTBlack;
    src: local("Univers LT Pro 75 Black"),
		url(/public/assets/fonts/UniversLTPro75Black.ttf)
			format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: UniversLTXBlack;
    src: local("Univers LT Pro 85 Extra Black"),
		url(/public/assets/fonts/UniversLTPro85XBlack.ttf)
			format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}


.agi-black-italic {
	font-family: UniversLTXBlack, Helvetica, Arial, sans-serif !important;
	font-style: oblique;
}

.agi-header-normal {
	font-family: UniversLTBold, Helvetica, Arial, sans-serif !important;
}


html {
	scroll-behavior: smooth;
}

body {
	font-family: UniversLTRegular, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: UniversLTBlack, Helvetica, Arial, sans-serif;
	font-style: oblique;
}

.text-darkblue {
	color: #005695;
}

.bg-darkblue {
	background-color: #005695;
}

.text-darkgrey {
	color:#232F3E
}

.text-agi-green {
	color: #026231 !important;
}
.nav-link:focus, .nav-link:hover {
	color: #043a1e !important;
}

.text-sf {
	color: #03A1E1;
}
.text-lightblue {
	color: #1999CE;
}

.text-black {
	color:black;
}

.text-orange {
	color: #ff9900;
}

.text-teal {
	color: #15B6C9;
}

.text-grey {
	color: #D5DBDB;
}

.text-gold {
	color: #BAA88D;
}

.text-theme {
	color: #026231;
	text-decoration:none;
	margin-top: 0 !important;
}

.text-theme :hover{
	color: #043a1e;
	text-decoration:none;
}

.bg-lightblue {
	background-color: #1999CE;
}

.bg-white {
	background-color: #fff;
}

.bg-agi-green {
	background-color: #026231;
}

.bg-light {
	background-color: #f8f9fa;
}

.bg-lightgrey {
	background-color: #eaeded;
}

.bg-orange {
	background-color: #ff9900;
}

.bg-teal {
	background-color: #15B6C9;
}

.text-smaller {
	font-size: .75em;
}

/******************************************************
 * BUTTONS
*******************************************************/
.btn-primary {
	background-color: #026231;
	border-color: #026231;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #026231;
	border-color: #026231;
	opacity: 0.8;
	transition: all 0.1s ease;
	box-shadow: none;
}

.btn-secondary {
	background-color: #232F3E;
	border-color: #232F3E;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
	background-color: #232F3E;
	border-color: #232F3E;
	opacity: 0.8;
	transition: all 0.1s ease;
	box-shadow: none;
}

p > strong {
	font-weight: 700;
}