@font-face {
    font-family: UniversLTRegular;
    src: local("Univers LT Pro 55 Roman"),
		url('UniversLTPro55Roman.ttf')
			format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: UniversLTBold;
    src: local("Univers LT Pro 65 Bold"),
		url('UniversLTPro65Bold.ttf')
			format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: UniversLTBlack;
    src: local("Univers LT Pro 75 Black"),
		url('UniversLTPro75Black.ttf')
			format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: UniversLTXBlack;
    src: local("Univers LT Pro 85 Extra Black"),
		url('UniversLTPro85XBlack.ttf')
			format("truetype");
    font-weight: 400;
	font-style: normal;
	font-display: swap;
}